doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Tickets for U
      h3 Visit our site &nbsp;
        a(href='http://test.tickets-gui.infoshareaca.nazwa.pl')  click!
      for ticket in tickets
          p: a(href='' +ticket.auctionUrl) #{ticket.title}